#img {
    height: 250px;
    width: 500px;
}
#btn {
    width: 75px;
    height: 25px;
    border-radius: 25%;
    background-color: blue;
    color: red;
    transition-duration: 0.6s;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    box-shadow: 0 9px #999;
}
#name {
    color: blue;
    background-color: yellow;
}
body {
    background-image: url("paper.jpg");
}
#btn:hover {
    background-color: red;
    color: blue;
    height: 100px;
    width: 200px;
}
#btn:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}